.hero__btn{
    background-color: black;
    color: $white;
    @include font (raleway,600,1rem);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.aboutus__btn {
    @include font (Raleway,600,1rem);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: max-content;
    cursor: pointer;
    margin-bottom: 2rem;
}