html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $light-grey;
}

main {
    background-color: $white;
}

footer {
    background-color: $light-grey;
}

.container {
    @include desktop-only {
        max-width: 1400px;
        margin: auto;
    }
}